head{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height:1.5;
	color:#545454;
}

h1, h2, h3{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height:1.5;
	color:#545454;
}

h1, h2, h3, h4, h5, h6, 
.post-entry blockquote p, .entry-content blockquote p, 
.more-link, .by, .item-related 
span.date, .side-pop-content span.date, #top-search input{
	font-family: "Crimson Text"; sans-serif,
	Arial;
}

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	color: #4C4A47;
}
#header {
	padding: 65px 0 60px;
	position: relative;
	border-radius: 10px 10px 0px 0px;
}

.container {
	width: 1080px;
	margin 0 auto;
}

#content {
	width: 100%;
	overflow: hidden;
	padding-top: 45px;
}

#wrapper {
	width: 1160px;
	margin: 0 auto;
	background-color: #fff; 
	box-shadow: 0 0 5px 5px rgba(200,200,200,.05);
    border-radius: 10px;
    margin-top: 30px;;
}

.featured-area{
	overflow: hidden;
	margin-top: 40px;
}

a{
	color: #95AF7E;
	text-decoration: none;
}

p{
	display: block;
	-webkit-margin-before:1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-size: 14px;
	font-height: 24px;
	font-family: "Arial", sans-serif;
}

.post-header{
	text-align: center;
	margin-bottom: 20px;
}

.post header h2 a, .post-header h1 {
	font-size:28px;
	color: #000;
}

.post-entry p, .post-entry hr {
	margin-bottom: 20px;
}

.post-header 
.cat a{
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 5px 0 4px;
}

.grid-item
.post-header h2
a{ 
	font-size: 17px;
	color: #000;
	font-weight: normal;
	 }

.grid-item
.post-header h1
a {
	color: #000;
}

.date {
	text-align: center;
	display: block;
	font-size: 12px;
	font-style: italic;
	color: #999;
}

/* Navigation */
#navigation {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #EAE8E0;
	background: #fff;
	height: 60px;
	z-index: 9999;
	position: relative;
}

nav a{
	text-decoration: none;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #65625D;
	line-height: 60px;
	display: inline-block;
	padding-left: 100px;
}

nav li{
	display: inline-block;
	margin-right: -4px;
	border-right: 3px;
	line-height: 50px;
	letter-spacing: 3px;
}

nav li li{
	border-right: none;
}

#nav-wrapper 
.menu li {
	display: inline-block;
	margin: 0 28px;
	position: relative;
}


/*SUB Menus */
nav li ul{
	position:absolute;
	display:none;
	width:inherit;
	letter-spacing: 3px;
	background-color: #f4f4f4;
	color: #e5e5e5;
	padding: 6px 10px;
	font-size: 11px;
	min-width: 170px;
	line-height: 20px;
	transition: .25s;
	border-top: none;
	border-color: #e5e5e5;
	border-bottom: 1px solid;
	margin: 0;
}

nav li:hover ul{
	display:block;
}
nav li ul li{
	display:block;
}


.left{
	width: 40%;
	display: inline-block;
	height: 400px;
	margin: 2px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 50px;
}

.right{
	width:1080;
	display: inline-block;
	height: 1522;
	margin: 2px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 50px;
	float: right;
}

.seite {
	max-width: 50%;
	height: auto;
	border: 2px;
	margin-top: 2%;
	text-align: center;
}

.me {
	max-width: 50%;
	height: auto;
	border: 2px;
	margin-top: 2%;
	text-align: center;

}

/* Subscribe Box */

.subscribe-box h4{
	text-transform: uppercase;
	color: #333;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 700;
	margin-top: -3px;
}
.subscribe-box{
	background: #f4f4f4;
	overflow: hidden;
	padding: 28px 28px 26px;
}
.subscribe-box p{
	color: #999;
	line-height: 24px;
	margin-bottom: 20px;
	font-size: 13px;
}
.subscribe-box input{
	width: 100%;
	margin-left: 0;
	margin-bottom: 0;
	box-sizing: border-box;
	background: #95AF7E;
	color: #FFF;
	font-size: 12px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-style: normal;
	padding: 12px 20px;
	border-radius: 0;
	margin-top: 0;
}
.subscribe-box input.email{
	background: #FFFFFF;
	color: #95AF7E;
	float: left;
	width: 75%;
}

.signup{
	width: 100%;
	margin-left: 0;
	margin-bottom: 0;
	box-sizing: border-box;
	background: #FFFFFF;
	color: #000000;

}
.subscribe-box{
	width: 95%;
}
.subscribe-box-inner {
	width: 50%;
	margin: auto;
	float: left;
}

.subscribe-box .submit-button{
	float: left;
	width: auto;
}

.subscribe-box .submit-button:hover {
	background-color: #000;
	cursor: pointer;
}


/* 3 Bilder nach Navigation */
.container{
		float: none;
		width: 100%;
		text-align: center;
}

.bild{
	flex-direction: row;
}

.row {
	display: flex;
}
.column {
	flex-basis: 33.33%;
	padding: 5px;
}
.column img {
	width: 100%;
	height: 510px;
	object-fit: cover;
}
.post-header h2 a {
	color: #000;
	font-size: 28px;
}

/* Overlay pictures top */
.feat-inner h2 a{
	color: #fff;
	font-size: 18px;
	text-align: center;
}

.feat-overlay {
	display: flex;
	position: relative;
	bottom: 0;
	width: auto;
	background-color: rgba(0,0,0, 0.4);
	transition: .38s;
}
.feat-inner .cat a:first-of-type {
	margin-left: 0;
}
.feat-inner .cat a {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	margin: 0 5px 4px;
	text-align: center;
}

/* Body */

.two-cols{
	display: flex;
}

.content{ 
	flext: 70%;
 }

 section{
 	flex: 30%;
 }

.Hauptteil {
	display: flex;
	height: 200px;
	align-items: center;
	background-color: #F7F7F3;
}

.m-teaserlist {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.m-teaserlist__item {
	flex-basis: 33%;
}

a.post-header h2 a, .post-header h1 {
	font-size: 28px;
	color: #000;
}

.m-teaserlist_item
 .post-img {
	margin-bottom: 22px;
	text-align: center;
	width: 350px;
	height: 460px;
	object-fit: cover;
}


.post-entry p, .post-entry hr {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 24px;
	font-family: "Source Sans Pro", sans-serif;
}

.sp-grid .post
{
	margin-bottom: 40px;
}

.post-img img {
	vertical-align: middle;
	width: 350;
	height: 460;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

a img
{
	border: none;
}

/* older posts */

.pagination.pa
gi-grid
{
	margin-top: 20px;
}

.pagination
{
	overflow: hidden;
	margin-bottom: 25px;
}

/*Section */

.about-widget, .social-widget {
	background: transparent;
	border: 1px solid;
	border-color: #ddd;
	padding: 25px 20px 22px;
	display: block;
	position: relative;
	margin-bottom: 40px;
	box-sizing: border-box;
}

.widget-title {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #000;
	background: #fff;
	font-size: 11px;
	font-weight: 400;
	}

.widget:before 
.widget:after
{
    content: '';
    display: table;
}

.promo-item {
	display: table;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	box-sizing: border-box;
	padding: 14px;
	position: relative;
}


.promo-item a{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.promo-overlay{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.promo-overlay h4 {
	color: #000;
	line-height: 1.6em;
	padding: 10px 13px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: rgba(255,255,255,1);
	display: inline-block;
}

/* Angaben Autor */
.meta-text {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	color: #999;
	margin-right: 3px;
	letter-spacing: 1px;
}

.by {
	font-size: 13px;
	font-style: italic;
	color: #999;
	margin-right: 1px;
}
.post-meta{
	overflow: hidden;
	border-top: 1px solid #eBe8e8;
	border-bottom: 4px double #e5e5e5;
	padding-bottom: 13px;
	padding-top: 13px;
	margin-top: 25px;
}

/* Instagram Footer */
.row-footer {
	display: flex;
}

.footer-column {
	position: relative;
}

.row-footer img {
	width: 193px;
	height: 193px;
	object-fit: cover;
	margin: -2px;
}

.row-footer img:hover{
	opacity:.75;
}

footer .instagram-title {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	transform: translate(-50%, -50%);
	padding: 18px 20px;
	z-index: 999;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
.instagram-text {
	text-align: center;
}

/* social Widgets */

#footer-social{
	text-align: center;
	padding: 30px 0;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #EAE8E0;
}	

#footer-social
a i {
	margin-right: 4px;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	transform: translate(0, 0);
}
#footer-social a{
	margin: 0 22px;
	color: #a5a5a5;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
